<div>
    <h2>{{station?.name}}</h2>

    <p>Address: {{station?.address}}</p>
    <p>Position: </p>
    <ul>
        <li>Latitud: {{station?.position?.lat}}</li>
        <li>Longitud: {{station?.position?.lng}}</li>
    </ul>
    <p>Status: {{station?.status}}</p>
    <p>Abailable bikes: {{station?.available_bikes}}</p>
    <button type="button" (click)="getWeather()">Weather</button>
</div>
<div *ngIf="location">
    <ng-template #temp [ngTemplateOutlet]="temp" let-a="aVariable"
        [ngTemplateOutletContext]="{ aVariable: (location.main.temp - 273.15)}">
        <h2>The Weather at {{station?.address}} is:</h2>
        <p>Temperature: {{(a | number: '1.0-0' )+ 'C'}}</p>
        <p>Weather: {{location?.weather?.[0]?.main}}</p>
        <p>Temperature: {{(a | number: '1.0-0' )+ 'C'}}</p>